/* GENERAL STYLING */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

body {
    text-align: center;
    background-color: #3e3e3e;
    color: #e4e4e4;
    font-size: 1.25rem;
}


/* WELCOME PAGE */

.welcome-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.welcome-headings {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-headings h1 {
    font-size: 6rem;
}

.welcome-headings h2 {
    font-size: 4rem;
}

#start-quiz {
    height: 50vh;
    border: 1px solid #e4e4e4;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hide-welcome {
    display: none;
}

.hide-quiz {
    display: none;
}


/* INFO HEADER SECTION */

#info-header {
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}



/* QUESTION AREA */

#question-area {
    display: flex;
    flex-direction: column;
}

#question-number {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #e4e4e4; */
    font-size: 2rem;
    padding-top: 2rem;
}

#question {
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}



/* ANSWER SECTION AREA */

.answer-selection-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 28vh;
}

.answer-choice {
    border: 1px solid #e4e4e4;
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: .5rem;
}

.answer-choice:hover {
    background-color: #6b6868;
    border: 2px solid white;
}

.next-question {
    height: 7vh;
    border: 1px solid #e4e4e4;
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: .5rem;
}

.next-question:hover {
    background-color: #6b6868;
}

.correct-answer {
    background-color: #06d606;
    cursor: default;
}

.correct-answer:hover {
    background-color: #06d606;
    cursor: default;
    border: 1px solid #e4e4e4;
}

.incorrect-answer {
    background-color: #fc0000;
    cursor: default;
}

.incorrect-answer:hover {
    background-color: #fc0000;
    cursor: default;
    border: 1px solid #e4e4e4;
}

.not-selected {
    opacity: .25;
}

.not-selected:hover {
    background-color: #3e3e3e;
    cursor: default;
    border: 1px solid #e4e4e4;
}

.hide-next-q {
    display: none;
}


/* RESULTS PAGE */

.results {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}